<!DOCTYPE html>
<html>
<head>
  <title>
    
  </title>
  <script src="jsmpg.min.js"></script>
</head>
<body>
  <script>
    document.write("<div class=\"jsmpeg\" data-url=\"{{WS_CAMERA_1}}\"></div>")
    document.write("<div class=\"jsmpeg\" data-url=\"{{WS_CAMERA_2}}\"></div>")
    document.write("<div class=\"jsmpeg\" data-url=\"{{WS_CAMERA_3}}\"></div>")
    document.write("<div class=\"jsmpeg\" data-url=\"{{WS_CAMERA_4}}\"></div>")
  </script>
</body>
</html>